<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/main.css">
  <title>Free IP Validator</title>
</head>

<body>

  <div class="main-container">
    <div class="container container-form">
      <h1>Free IP Validator</h1>
      <div class="container">
        <form action="/" id="form" class="form" method="POST">
          <label for="ip">Enter the IP you would like to validate:</label>
          <input type="text" id="ip" name="ip">
          <input type="submit" value="Submit">
        </form>
      </div>

      <% if (locals.content){ %>
        <p class="response">Country: <span class="inside-response"><%= content.country%></span></p> 
        <p class="response">Region: <span class="inside-response"><%= content.region%></span></p> 
        <p class="response">City: <span class="inside-response"><%= content.city%></span></p> 
        <p class="response">Geographic coordinate: <span class="inside-response">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
          </svg>
          <%= content.latitude%>,<%= content.longitude%></span></p> 
        <p class="response">Is EuropeUnion: <span class="inside-response"><%= content.isEuropeUnion%></span></p> 
      <% } else { %>
        <p></p>
     <% } %>
    </div>
  </div>
  

</body>

</html>